*{
    padding: 0px;
    margin: 0px;

}


body{
    background-image: url("https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136510.jpg?w=2000&t=st=1668628269~exp=1668628869~hmac=795df0000b24b299f3542cd6bc1616bcd8b5a855dd0461cc6d7bda8fca9fd9a8");
}


header {
    text-align: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 100px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

p{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 1.5;
    letter-spacing: 2px;

}

h2 {
    font-family: 'Nunito', sans-serif;;
    text-align: center;
    font-size: 65px;
    border-top: 2px solid black;

}

article {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 1.5;
    letter-spacing: 2px;

}

h3 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 65px;
    margin-top: 60px;
    border-top: 2px solid black;
   
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
    letter-spacing: 2px;
    border-spacing: 0;
    border-collapse: separate;
    border: 2px solid black;

}

th {
    padding: 20px;
    border: 2px solid black;
}

td {
    padding: 20px;
    border: 2px solid black;
}


h4{
text-align: center;
font-family: 'Nunito', sans-serif;
font-size: 65px;
margin-top: 60px;
border-top: 2px solid black;
}

.a1 {
    margin-bottom: 30px;
}


  * {
    scrollbar-width: none;
    scrollbar-color: #dedede #ffffff;
  }

 
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #dedede;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  /*scrollbar nie jest mojego autorstwa :D*/